.row
  .col-lg-12
    %h1 Students
    :css
      table, th, td{
       text-align: center;
      }


    %table.table.table-bordered.table-responsive.table-striped.table-hover
      %tr
        %th Picture
        %th Name
        %th Email
        %th Class
        %th Studying Status
        %th Branch Name
        %th Matric roll number
        %th Matric marks
      - @students.each do |student|
        %tr
          %td 
            = image_tag student.picture.url(:thumb)
          %td 
            = student.name
          %td
            = student.email
          %td
            = student.student_class
          %td
            = student.studying_status
          %td
            = student.branch.name
          %td
            = student.matric_roll_no
          %td
            = student.matric_marks
    %a#menu-toggle.btn.btn-default{:href => "#menu-toggle"} Toggle Menu