!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{:content => "width=device-width, shrink-to-fit=no, initial-scale=1", :name => "viewport"}/
    %meta{:content => "", :name => "description"}/
    %meta{:content => "", :name => "author"}/
    %title Simple Sidebar - Start Bootstrap Template
    #{csrf_meta_tags}
    #{stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'}
    #{javascript_include_tag 'application', 'data-turbolinks-track': 'reload'}
    / Bootstrap Core CSS
    %link{:href => "css/bootstrap.min.css", :rel => "stylesheet"}/
    / Custom CSS
    %link{:href => "css/simple-sidebar.css", :rel => "stylesheet"}/
    / HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    / WARNING: Respond.js doesn't work if you view the page via file://
    /[if lt IE 9]
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
  %body
    #wrapper
      / Sidebar
      #{render partial: "layouts/sidebar"}
      / Page Content
      #page-content-wrapper
        .container-fluid
          #{yield}
      / /#page-content-wrapper
    / /#wrapper
    / jQuery
    / Bootstrap Core JavaScript
    / Menu Toggle Script